/*! ActiLib v0.0.1 | MIT License | undefined */

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #111;
}
.fixed-head {
  position: fixed;
  background: #01bcff;
  width: 100%;
  display: block;
  padding: 10px;
  margin: 0;
  height: auto;
  top: 0px;
  z-index: 9999;
  color: #fff;
  padding: 20px;
  font-size: 25px;
}
.main {
  width: 960px;
  position: relative;
  margin: 0 auto;
}
.main .title {
  color: #0066FF;
  font-size: 40px;
  margin: 120px 0px 40px 0px;
}
.main .sub-title {
  color: #0066FF;
  font-size: 25px;
}
