doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title ActiLib
        meta(name="description",content="")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="../css/normalize.css")
        link(rel="stylesheet",href="../css/style.css")
        script(src="../js/vendor/modernizr-2.8.3.min.js")
    body
        div.fixed-head
            a(href="../index.html") ACTILIB
        div.main        
            p.title demo
            p.sub-title usage
        script window.jQuery || document.write('<script src="../js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')
 