doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title ActiLib
        meta(name="description",content="")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="css/normalize.css")
        link(rel="stylesheet",href="css/main.css")
        link(href="css/animate.min.css",rel="stylesheet",type="text/css")
        script(src="js/vendor/modernizr-2.8.3.min.js")
    body
        div#lead
            h1 大众点评运营组件库
            a.waves-effect.waves-button#docs 查看详情

        div#header.header
             nav#nav
                     ul.nav.navbar-nav
                             li
                                 a(href="#type1").waves-effect.waves-button 核心组件
                             li
                                 a(href="#type2").waves-effect.waves-button 效果组件
                             li
                                 a(href="#type3").waves-effect.waves-button 功能组件
                             li
                                 a(href="#type4").waves-effect.waves-button 工具组件
        a.github-ribbon(href="https://github.com/devWayne/ActiLib",target="_blank")
            img(style="position: fixed; top: 0; right: 0; border: 0;z-index:9999",src="img/github-icon.png",alt="Fork me on GitHub")
        div.main
            ul
                li  
                    div.unit-headtype1.scrollto#type1 核心组件
                li
                    div.waves-effect.waves-light.waves-block.unit-blocktype1
                            p.head
                                 a(href="https://github.com/devWayne/core.js") Core.js
                            p.body 轻量级DOM操作，兼容jQuery API
                    div.waves-effect.waves-light.waves-block.unit-blocktype1
                            p.head Base.js
                                 a(href="https://github.com/devWayne/base.js")
                            p.body 封装常用数据操作
                    div.waves-effect.waves-light.waves-block.unit-blocktype1
                            p.head Tmpl.js
                                 a(href="https://github.com/devWayne/tmpl.js")
                            p.body 轻量级模板渲染
                    div.clear
                li  
                    div.unit-headtype2.scrollto#type2 效果组件
                li
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Wheel.js
                                 a(href="https://github.com/devWayne/wheel.js")
                            p.body 转盘抽奖
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Slider.js
                                 a(href="https://github.com/devWayne/slider.js")
                            p.body 首页图片滑动
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Toast.js
                                 a(href="https://github.com/devWayne/toast.js")
                            p.body toast提示弹窗
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Turncard.js
                                 a(href="https://github.com/devWayne/turncard.js")
                            p.body 翻盘抽奖
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Countdown.js
                                 a(href="https://github.com/devWayne/countdown.js")
                            p.body 倒计时计数
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Scratch.js
                                 a(href="https://github.com/devWayne/scratch.js")
                            p.body 刮刮卡
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Dpbox.js.js
                                 a(href="https://github.com/devWayne/dpbox.js")
                            p.body 提示信息弹窗
                    div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Popup.js
                                 a(href="https://github.com/devWayne/popup.js")
                            p.body 通用弹框
                    div.clear
                li  
                    div.unit-headtype3.scrollto#type3 功能组件 
                li
                    div.waves-effect.waves-light.waves-block.unit-blocktype3
                            p.head Geo.js
                                 a(href="https://github.com/devWayne/geo.js")
                            p.body 地理位置获取及距离计算
                    div.waves-effect.waves-light.waves-block.unit-blocktype3
                            p.head HttpUtils.js
                                 a(href="https://github.com/devWayne/httpUtils.js")
                            p.body URL常用操作封装
                    div.waves-effect.waves-light.waves-block.unit-blocktype3
                            p.head AppUtils.js
                                 a(href="https://github.com/devWayne/appUtils.js")
                            p.body APP常用操作封装
                    div.clear
                li  
                    div.unit-headtype4.scrollto#type4 工具组件
                li
                    div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head hps
                                 a(href="https://github.com/devWayne/hps")
                            p.body HTTP代理服务工具
                    div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head hmks
                                 a(href="https://github.com/devWayne/hmks")
                            p.body HTTP数据模拟工具
                    div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head hss
                                 a(href="https://github.com/devWayne/hss")
                            p.body HTTP静态SERVER
                    div.clear
        div#end
            h1 组件库
            p 该组件库用于大众点评运营活动与场景，具有统一的编码规范和使用规范，与jQuery/Zepto 插件完美兼容
            p 可以直接用于seajs/cortexjs模块管理场景，兼容CMD和AMD模块规范
            p 组件库配套有统一的CSS样式规范 
              span APP Guideline
              a(href="https://github.com/devWayne/AppEventsGl") 点击这里 
              span  PC Guideline
              a(href="https://github.com/devWayne/MetroGuideline") 点击这里
            p 推荐使用轻量级的
              a(href="https://github.com/devWayne/web-starter") Webstarter模板
              span 进行开发，便于模块管理，提高开发及打包上线效率
        script window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')
        script(src="js/plugins.js")
        script(src="js/waves.js")
        script(src="js/stickyNavbar.js")
        script(src="js/main.js")
        script Waves.displayEffect();
