doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title ActiLib
        meta(name="description",content="")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel="stylesheet",href="css/normalize.css")
        link(rel="stylesheet",href="css/main.css")
        link(href="css/animate.min.css",rel="stylesheet",type="text/css")
        script(src="js/vendor/modernizr-2.8.3.min.js")
    body
        div#lead
            h1 ActiLib运营组件库
            a.waves-effect.waves-button#docs 查看详情

        div#header.header
             nav#nav
                     ul.nav.navbar-nav
                             li
                                 a(href="#type1").waves-effect.waves-button 核心组件
                             li
                                 a(href="#type2").waves-effect.waves-button 效果组件
                             li
                                 a(href="#type3").waves-effect.waves-button 功能组件
                             li
                                 a(href="#type4").waves-effect.waves-button 工具组件
        a.github-ribbon(href="https://github.com/devWayne/ActiLib",target="_blank")
            img(style="position: fixed; top: 0; right: 0; border: 0;z-index:9999",src="img/github-icon.png",alt="Fork me on GitHub")
        div.main
            ul
                li  
                    div.unit-headtype1.scrollto#type1 核心组件
                li
                    a(href="https://github.com/devWayne/core.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype1
                              p.head Core.js
                              p.body 轻量级DOM操作，兼容jQuery API
                    a(href="https://github.com/devWayne/base.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype1
                            p.head Base.js
                            p.body 封装常用数据操作
                    a(href="https://github.com/devWayne/js-tpl.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype1
                            p.head js-Tpl.js
                            p.body 轻量级模板渲染
                    div.clear
                li  
                    div.unit-headtype2.scrollto#type2 效果组件
                li
                    a(href="https://github.com/devWayne/wheel.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Wheel.js
                            p.body 转盘抽奖
                    a(href="https://github.com/devWayne/slider.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Slider.js
                            p.body 首页图片滑动
                    a(href="https://github.com/devWayne/toast.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Toast.js
                            p.body toast提示弹窗
                    a(href="https://github.com/devWayne/turncard.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Turncard.js
                            p.body 翻盘抽奖
                    a(href="https://github.com/devWayne/countdown.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Countdown.js
                            p.body 倒计时计数
                    a(href="https://github.com/devWayne/scratch.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Scratch.js   
                            p.body 刮刮卡
                    a(href="https://github.com/devWayne/dpbox.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Dpbox.js.js
                            p.body 提示信息弹窗
                    a(href="https://github.com/devWayne/popup.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype2
                            p.head Popup.js
                            p.body 通用弹框
                    div.clear
                li  
                    div.unit-headtype3.scrollto#type3 功能组件 
                li
                    a(href="https://github.com/devWayne/geo.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype3
                            p.head Geo.js
                            p.body 地理位置获取及距离计算
                    a(href="https://github.com/devWayne/EasyUrl.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype3
                            p.head EasyUrl.js
                            p.body URL常用操作封装
                    a(href="https://github.com/devWayne/appUtils.js")
                       div.waves-effect.waves-light.waves-block.unit-blocktype3
                            p.head AppUtils.js
                            p.body APP常用操作封装
                    div.clear
                li  
                    div.unit-headtype4.scrollto#type4 工具组件
                li
                    a(href="https://github.com/devWayne/hps")
                       div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head hps
                            p.body HTTP代理服务工具
                    a(href="https://github.com/devWayne/hmks")
                       div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head hmks
                            p.body HTTP数据模拟工具
                    a(href="https://github.com/devWayne/hss")
                       div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head hss
                            p.body HTTP静态SERVER
                    a(href="https://github.com/devWayne/MinPanel")
                       div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head MinPanel
                            p.body 页面DEBUG工具
                    a(href="https://github.com/devWayne/pkg-Z")
                       div.waves-effect.waves-light.waves-block.unit-blocktype4
                            p.head pkg-Z
                            p.body Commonjs打包工具
                    div.clear
        div#end
            h1 组件库
            p 组件库用于运营活动与场景，与jQuery/Zepto 插件完美兼容并可以支持CommonJS规范模块
            p 配套同时使用快速上传打包模块
              a(href="https://github.com/devWayne/gulp-ftp-env") gulp-ftp-env模块
              span 进行模块管理，环境切换，提升上线速度和快速回滚
            p 配套使用轻量级的
              a(href="https://github.com/devWayne/web-starter") Webstarter模板
              span 进行开发，便于模块管理，提高开发效率
            p 相关CSS样式规范 
              a(href="http://http://kylar.cn/ns.css") Ns.css 
            p Copyright © 2015 kylar.cn
        script window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')
        script(src="js/plugins.js")
        script(src="js/waves.js")
        script(src="js/stickyNavbar.js")
        script(src="js/main.js")
        script Waves.displayEffect();
